{% extends 'Cristal_app/base_adminlte.html' %}
{% block title %}{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Tipo de Habitación{% endblock %}
{% block content %}
<div class="card card-primary">
  <div class="card-header"><h3 class="card-title">{% if form.instance.pk %}Editar{% else %}Crear{% endif %}</h3></div>
  <form method="post" class="card-body">{% csrf_token %}{{ form.as_p }}
    <div class="card-footer">
      <a href="{% url 'tipohabitacion_list' %}" class="btn btn-secondary">Cancelar</a>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
{% endblock %}