{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cristal App | Email de Reseteo Enviado</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'home' %}"><b>Cristal</b>App</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">¡Email enviado!</p>

      <div class="alert alert-info" role="alert">
        <p>Te hemos enviado por correo electrónico las instrucciones para establecer tu contraseña. Si no lo recibes en unos minutos, revisa tu carpeta de spam.</p>
        <p>Asegúrate de haber ingresado una dirección de correo electrónico registrada.</p>
      </div>

      <p class="mt-3 mb-1">
        <a href="{% url 'login' %}">Volver al inicio de sesión</a>
      </p>
    </div>
    </div>
</div>
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>
</body>
</html>