{# Cristal_app/templates/registration/password_reset_email.html #}
{% load i18n %}{% autoescape off %}
{% blocktrans %}Para iniciar el reseteo de tu contraseña en {{ site_name }}, haz clic en el siguiente enlace:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Si no has solicitado esto, puedes ignorar este correo electrónico de forma segura.{% endblocktrans %}
{% blocktrans %}Tu nombre de usuario es: {{ user.get_username }}{% endblocktrans %}

{% endautoescape %}